@import 'mixins';

button img,
a img {
	vertical-align: middle;
}

.container {
	@include flex-row;
	justify-content: space-between;
	user-select: none;
  height: 55px;

	&-menu-navbar {
		position: fixed;
		padding-top: 75px;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $background;
		z-index: 10;
	}
}

.navbar-links {
	@include flex-row;
	justify-content: space-between;
}

.signup,
.login,
.search,
.community,
.collection,
.profile,
.home,
.logout,
.dashboard {
	color: $text-gray-dark-transparent;
	font-family: SemiboldFont, serif;

	&-active {
		color: $text-gray-dark;
	}
}

.menu-button {
  cursor: pointer;
}

@include dev(mobile) {
	.logo,
	.navbar {
		display: none;
	}

	img {
		width: 24px;
		z-index: 20;

		&.img {
			width: 120px;
		}
	}

  a {
    z-index: 20;
  }

	.container {
		margin: 10px 25px;
		position: relative;
	}

	.navbar-links {
		gap: 20px;
	}

	.menu {
		@include flex-row;
		justify-content: end;

		&-navbar {
			@include flex-row;
			justify-content: center;
			position: absolute;
			width: 100%;

			& ul,
			li {
				width: 100%;
			}
		}
	}

	.profile,
	.home,
	.search,
	.community,
	.collection,
	.logout,
	.dashboard {
		@include flex-row;
		justify-content: center;
		height: 50px;
		width: 100%;

		@include dev(mobile-tablet) {
			&:hover {
				background-color: $blue-transparent;
				color: $text-white;
			}
		}
	}
}

@include dev(tablet) {
	.menu {
		display: none;
	}

	.logo-mobile,
	.navbar {
		display: block;
	}

	img.img {
		width: 120px;
	}

	.navbar-links {
		gap: 30px;
	}

	.signup,
	.login,
	.search,
	.community,
	.collection,
	.profile,
	.dashboard,
	.logout,
	.home {
		font-size: 16px;
	}

	.logout {
		cursor: pointer;
	}

	.logout-img {
		width: 24px;
	}
}

@include dev(laptop) {
	.logo-mobile {
		display: none;
	}

	.logo {
		display: block;
	}

	img {
		width: 139px;
	}

	.container {
		height: 60px;
		margin: 10px 50px;
	}

	.navbar-links {
		gap: 40px;
	}

	.signup,
	.login,
	.search,
	.community,
	.collection,
	.profile,
	.dashboard {
		font-size: 17px;
	}
}
