@import 'colors';
@import 'mixins';

img {
	vertical-align: middle;
}

.recommendations {
	@include flex-row;
	justify-content: center;
	width: 100%;
}

.info {
	max-width: 1650px;
	width: 100%;
}

.container {
	@include flex-col;

	&-search {
		@include flex-row;
		justify-content: space-between;
		background: $background-dark;
		border-radius: 13px;
		padding: 0 20px;
	}
}

.search {
	&-input {
		width: calc(100% - 40px);
		background: $background-dark;
		color: $text-white;
		font-family: RegularFont, serif;

		&::selection {
			background-color: $blue-transparent;
		}

		&::placeholder {
			color: $white-placeholder;
			font-family: RegularFont, serif;
		}

		&:focus::placeholder {
			opacity: 0;
			transition: opacity 0.3s ease;
		}
	}

	&-button {
		background: $background-dark;
	}

	&-image {
		background: $background-dark;
	}
}

.search-button {
	cursor: pointer;
}

@include dev(mobile) {
	.container-search {
		height: 42px;
		margin: 25px 25px 0;
	}

	.search-input {
		font-size: 14px;

		&::placeholder {
			font-size: 14px;
		}
	}
}

@include dev(tablet) {
	.container-search {
		margin: 40px 25px 0;
		height: 45px;
		max-width: 550px;
	}

	.search-input {
		font-size: 16px;

		&::placeholder {
			font-size: 16px;
		}
	}
}

@include dev(laptop) {
	.container-search {
		margin: 40px 50px 0;
		max-width: 600px;
		height: 50px;
	}

	.search-input {
		font-size: 18px;

		&::placeholder {
			font-size: 18px;
		}
	}
}
