@import 'colors';
@import 'mixins';

.container {
	@include flex-col;
	justify-content: start;
	align-items: start;
	padding: 15px;
	border: 1px $blue-transparent solid;
	border-radius: 15px;
}

.field {
	font-family: SemiboldFont, serif;
	color: $text-gray-dark;
	letter-spacing: 1.25px;
	user-select: none;
	line-height: 26px;
	margin-bottom: 5px;
  @include flex-row;
}

.label {
  min-width: 70px;
}

.button-block {
	margin: 20px 0 0 0;
	padding: 8px 30px;
	font-size: 14px;
  width: 110px;
}

@include dev(tablet) {
	.container {
		@include flex-row;
		justify-content: space-between;
		align-items: start;
		width: 100%;
		gap: 30px;
	}

	.button-block {
		margin: 0;
	}
}
