$background: #f4f4f4;
$background-form: #94b0bc;
$background-dark: #6c91a6;
$white-placeholder: #ffffff80;
$gray-placeholder: #2D384530;
$white-border: #ffffff45;
$white-transparent: #ffffffb5;
$text-white: #ffffff;
$text-gray: #2D384560;
$text-gray-dark: #2D3845;
$text-gray-dark-transparent: #2D384570;
$blue: #4A607A;
$blue-transparent: #4A607A70;
