$background: #f0f0f0;
$background-form: #94b0bc;
$background-dark: #6c91a6;
$background-dark-transparent: #96b1c1;
$background-light: #b8cad9;
$white-placeholder: #ffffff80;
$gray-placeholder: #2d384530;
$white-border: #ffffff45;
$white-transparent: #ffffffb5;
$text-white: #ffffff;
$text-gray: #2d384560;
$text-gray-dark: #2d3845;
$text-gray-dark-transparent: #2d384570;
$blue: #4a607a;
$blue-transparent: #4a607a70;
$errors: #cf0c19;
